# dotenv environment variable files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.test
.env.prod

# Fresh build directory
_fresh/
node_modules/

db.log
reports/
openapitools.json
package-lock.json
app.log
logs/
source.zip
