.carousel-slider {
  --swiper-theme-color: #8800cc;
  --swiper-pagination-color: #8800cc;
  --carousel-slide-max: 408px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-slider .swiper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

.carousel-slider .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100%;
  position: relative;
  z-index: 1;
  transform: none !important;
}

.carousel-slider .swiper-slide {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  position: relative;
  height: 100%;
  margin: 0 !important;
  flex-shrink: 0;
}

.carousel-slider .swiper-slide:hover {
  z-index: 10 !important;
  filter: blur(0) !important;
  opacity: 1 !important;
}

.carousel-slider .swiper-slide img {
  height: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.carousel-slider .swiper-pagination {
  position: relative;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 48px;
  z-index: 20;
}

.carousel-slider .swiper-pagination-bullet {
  width: 48px;
  height: 3px;
  border-radius: 4px;
  background-color: #440066 !important;
  opacity: 1;
  margin: 0 !important;
  transition: all 0.3s ease;
}

.carousel-slider .swiper-pagination-bullet:hover {
  background-color: #AA00FF !important;
}

.carousel-slider .swiper-pagination-bullet-active {
  background-color: #8800CC !important;
  width: 48px;
}

@media (max-width: 1439px) {
  .carousel-slider .swiper-pagination-bullet {
    width: 36px;
  }
  
  .carousel-slider .swiper-pagination-bullet-active {
    width: 36px;
  }
}
@media (max-width: 1023px) {
  .carousel-slider .swiper-pagination-bullet {
    width: 30px;
  }
  
  .carousel-slider .swiper-pagination-bullet-active {
    width: 30px;
  }
}
@media (max-width: 767px) {
  .carousel-slider .swiper-pagination-bullet {
    width: 24px;
  }
  
  .carousel-slider .swiper-pagination-bullet-active {
    width: 24px;
  }
  .carousel-slider .swiper-pagination {
    gap: 9px;
    margin-top: 36px;
  }
}
@media (max-width: 567px) {
  .carousel-slider .swiper-pagination {
    gap: 9px;
    margin-top: 24px;
  }
}

.carousel-slider .swiper-button-next,
.carousel-slider .swiper-button-prev {
  display: none;
}

@media (max-width: 360px) {
  .carousel-slider .swiper-slide {
    max-width: 45%;
  }
}

@media (min-width: 361px) and (max-width: 768px) {
  .carousel-slider .swiper-slide {
    max-width: 40%;
  }
}

@media (min-width: 769px) {
  .carousel-slider .swiper-slide {
    max-width: 35%;
  }
}