@import "swiper/scss";
@import "swiper/scss/autoplay";
@import "swiper/scss/pagination";
@import "swiper/scss/navigation";
@import "swiper/scss/virtual";

.carousel-slider {
  --carousel-slider-max-width: 1440px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: var(--carousel-slider-max-width);
  overflow: visible;
}

.carousel-slider .swiper {
  padding-bottom: 32px;
  overflow: visible;
}

.carousel-slider .swiper-slide {
  width: 408px;
  aspect-ratio: 1/1;
  position: relative;
}

.carousel-slider .swiper-slide > div {
  width: 100%;
  height: 100%;
}

.carousel-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  border-radius: 6px;
}

.carousel-slider .swiper-pagination-bullets {
  bottom: 0;
}

.carousel-slider .slide-content {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 88px 16px 24px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  border-radius: 0 0 8px 8px;
}

.carousel-slider .slide-content h2 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1;
}

.carousel-slider .slide-content p {
  margin: 8px 0 0;
  opacity: 0.65;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: #3f2a4e !important;
  width: 44px !important;
  border-radius: 4px !important;
  height: 5px !important;
}

.swiper-pagination-bullet-active {
  background-color: #7a00f5 !important;
}

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    width: 44px !important;
  }
}

@media (max-width: 1024px) {
  .carousel-slider .swiper-slide {
    width: 313px;
  }
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 44px !important;
  }

  .carousel-slider img {
    width: 313px;
    height: 313px;
  }
  .carousel-slider .carousel-slider-animate-opacity {
    width: 313px;
    height: 313px;
  }
  .carousel-slider .swiper-slide {
    width: 260px;
  }
}

@media (max-width: 568px) {
  .carousel-slider .swiper-button-next,
  .carousel-slider .swiper-button-prev {
    display: none !important;
  }
  .carousel-slider .swiper-slide {
    width: 186px;
  }
}
