/* @tailwind is a valid directive for Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== BASE STYLES ===== */
/* Ensure html and body take full height without overflow */
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000; /* Fallback color */
  overflow-x: hidden;
  overflow-y: auto;
  position: relative !important;
}


/* Flex center */
/* ===== ALIGNMENT UTILITIES ===== */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Paragraph text styling  */
/* Styled specifically for the How-To articles - other text uses header tags */
/* Space between paragraphs */
@layer base {
  p {
    margin-bottom: 18px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

/* Bold text styling */
b, strong {
  font-weight: 600;
}

/* Horizontal ruler styling */
@layer base {
  hr {
    @apply w-full border-0 border-t border-[#242424]/50;
  }
}

/* ========================================================================== */


/* ================== SCROLLBAR STYLES ================== */
/* ===== SCROLLBAR STYLES ===== */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 14px;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 14px;
  }
}

/* Track */
::-webkit-scrollbar {
  border-radius: 3px;
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #660099;
}

::-webkit-scrollbar-thumb {
  background: #440066;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 3px;
}

/* Custom scrollbar styles for specific class */
.custom-scrollbar::-webkit-scrollbar {
  width: 28px;
  height: 20px;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 17px;
    height: 14px;
    border-radius: 0px;
  }
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2b0e49;
  /* Custom track color */
  padding: 4px;
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  /* Custom handle color */
  border-radius: 0px;
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
  /* Custom handle hover color */
}

/* Custom scrollar colors */
.scrollbar-purple {
  @apply [&::-webkit-scrollbar-track]:bg-[#AA00FF] [&::-webkit-scrollbar-thumb]:bg-[#8800CC] [&::-webkit-scrollbar-thumb:hover]:bg-[#660099];
}

.scrollbar-grey {
  @apply [&::-webkit-scrollbar-track]:bg-[#CCCCCC] [&::-webkit-scrollbar-thumb]:bg-[#999999] [&::-webkit-scrollbar-thumb:hover]:bg-[#666666];
}

.scrollbar-black {
  @apply [&::-webkit-scrollbar-track]:bg-[#111011]/20 [&::-webkit-scrollbar-thumb]:bg-[#666666] [&::-webkit-scrollbar-thumb:hover]:bg-[#999999];
}

.scrollbar-glassmorphism {
  @apply [&::-webkit-scrollbar-track]:bg-[#141015] [&::-webkit-scrollbar-thumb]:bg-[#666666]/50 [&::-webkit-scrollbar-thumb:hover]:bg-[#666666];
}

.scrollbar-glassmorphism-slim {
  @apply [&::-webkit-scrollbar]:w-[2px] [&::-webkit-scrollbar-track]:bg-[#141015] [&::-webkit-scrollbar-thumb]:bg-[#666666]/50 [&::-webkit-scrollbar-thumb:hover]:bg-[#666666];
}

/* ========================================================================== */


/* ================== IMAGE RENDERING STYLES ================== */

.image-rendering-pixelated {
  position: relative;
}

.image-rendering-pixelated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-conic-gradient(rgba(128, 128, 128, 0.2) 0% 25%,
      rgba(128, 128, 128, 0.1) 25% 50%);
  background-size: 4px 4px;
  border-radius: 1rem;
  z-index: 1;
}

.image-rendering-pixelated img,
.image-rendering-pixelated iframe,
.image-rendering-pixelated>div {
  position: relative;
  z-index: 2;
}

.image-rendering-pixelated img {
  mix-blend-mode: multiply;
}

/* ===== STAMP IMAGE STYLES ===== */
.pixelart {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.stamp-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  aspect-ratio: 1;
  /* Force hardware acceleration on iOS */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /* Prevent iOS image stretching */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Apply rounded-xl and clip children to rounded corners */
  overflow: hidden;
  border-radius: 0.75rem; /* Tailwind rounded-xl */
}

.stamp-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-conic-gradient(rgba(128, 128, 128, 0.2) 0% 25%,
      rgba(128, 128, 128, 0.1) 25% 50%);
  background-size: 4px 4px;
  border-radius: 1rem;
  z-index: 0;
  border-radius: inherit;
}

/* Add specific iOS handling for SVG */
.stamp-container svg {
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.stamp-image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Add webkit prefix for iOS */
  -webkit-image-rendering: pixelated;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  /* Force hardware acceleration on iOS */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /* Prevent iOS image stretching */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ========================================================================== */


/* ================== INPUT FIELD STYLES ================== */

/* Remove spinner buttons and up/down arrow buttons from number inputs */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Remove outline from input fields */
.no-outline:focus-visible {
  outline: 0px solid transparent !important;
  outline-offset: 0 !important;
  outline-style: none !important;
}

/* Remove border radius for input field when dropdown is open */
.input-open input {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-open-bottom {
  @apply rounded-t-2xl rounded-b-[0px] !important;
}

.input-open-bottom > * {
  @apply rounded-t-2xl rounded-b-[0px] !important;
}

/* ========================================================================== */


/* ================== ANIMATIONS ================== */

/* Marquee Animation for stamp items  */
/* Stamp Items Marquee */

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-inner {
  width: fit-content;
  display: flex;
  animation: marquee 200s linear infinite;
  animation-play-state: running;
}

.marquee-inner:hover {
  animation-play-state: paused;
}

/* Animations for toast notifications */
.notification-enter {
  animation: notification-enter 400ms cubic-bezier(0.46,0.03,0.52,0.96) forwards;
}

.notification-exit {
  animation: notification-exit 400ms cubic-bezier(0.46,0.03,0.52,0.96) forwards;
}

/* Animations for header portal dropdowns */
.dropdown-enter {
  animation: dropdown-enter 200ms cubic-bezier(0.46,0.03,0.52,0.96) forwards;
}

.dropdown-exit {
  animation: dropdown-exit 200ms cubic-bezier(0.46,0.03,0.52,0.96) forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes notification-enter {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes notification-exit {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}


@keyframes dropdown-enter {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropdown-exit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}


/* ========================================================================== */


/* ================== TEXT STYLES ================== */

/* Animated underline for links */
/* Animate right to left - background-position controls the direction of the animation */
.animated-underline {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(#CCCCCC, #CCCCCC);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size .3s, color .6s;
  padding-bottom: 3px;
  text-shadow:
    -3px 0 #000,
    /* Left */
    3px 0 #000,
    /* Right */
    0 -3px #000,
    /* Top */
    0 3px #000;
  /* Bottom */
}

.animated-underline:hover,
.animated-underline:focus {
  background-size: 0% 2px;
  color: #999999;
}

/* Animate left to right */
.animated-underline-thin {
  font-weight: 400;
  text-decoration: none;
  background-image: linear-gradient(#CCCCCC, #CCCCCC);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  transition: background-size .3s, color .6s;
  padding-bottom: 2px;
  text-shadow:
    -2px 0 #000,
    /* Left */
    2px 0 #000,
    /* Right */
    0 -2px #000,
    /* Top */
    0 2px #000;
  /* Bottom */
}

.animated-underline-thin:hover,
.animated-underline-thin:focus {
  background-size: 0% 1px;
  color: #999999;
}

/* ========================================================================== */


/* ================== MISCELLANEOUS STYLES ================== */

/* Emoji ticker styling for SRC20 cards */
.emoji-ticker {
  @apply text-color-primary-light;
  font-family: system-ui;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

/* ChartWidget Styles */
/* Position range selector buttons to the left */
.highcharts-range-selector-buttons {
  transform: translateX(-40px); /* Move 40px to the left */
}

/* ========================================================================== */


/* ==================UNUSED STYLES ================== */

/* Conic gradient for input field animated border
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
 */

/* ================== CHARTWIDGET STYLES ================== */

/* Style for all zoom buttons - @baba - check if this is needed */
/*
.highcharts-range-selector-buttons rect {
  fill: transparent !important;
  /* Transparent background
  stroke: #999999 !important;
  /* Grey border
  stroke-width: 1px !important;
  /* 1px border thickness
  rx: 8px;
  /* Rounded corners (rounded-lg)
}
*/

/* Style for zoom button text */
/*
.highcharts-range-selector-buttons text {
  cursor: pointer !important;
  fill: #999999 !important;
  /* Grey text
  font-weight: normal;
  font-size: 11px;
}
*/

/* Hover state */
/*
.highcharts-range-selector-buttons .highcharts-button:hover rect {
  stroke: #CCCCCC !important;
}

.highcharts-range-selector-buttons .highcharts-button:hover text {
  fill: #CCCCCC !important;
}
*/

/* Active (selected) button */
/*
.highcharts-range-selector-buttons .highcharts-button-pressed rect {
  fill: transparent !important;
  /* Keep transparent when selected
  stroke: #CCCCCC !important;
}
*/

/* Active text color */
/*
.highcharts-range-selector-buttons .highcharts-button-pressed text {
  fill: #CCCCCC !important;
  font-weight: bold;
}
*/
