@tailwind base;
@tailwind components;
@tailwind utilities;
.image-rendering-pixelated {
  image-rendering: pixelated;
  background-image: url("/img/transparent-bg.png");
  background-size: 3px;
  padding: 6px 12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 14px;
}

@media (max-width: 768px) {
  /* Adjust the max-width as needed */
  ::-webkit-scrollbar {
    width: 8px; /* Smaller width for mobile */
    border-radius: 14px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #3f2a4e;
  border-radius: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb9bc;
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dbd9dc;
}

/* New custom scrollbar styles for specific class */
.custom-scrollbar::-webkit-scrollbar {
  width: 28px; /* Custom width */
  border-radius: 0px;
}

@media (max-width: 768px) {
  /* Adjust the max-width as needed */
  .custom-scrollbar::-webkit-scrollbar {
    width: 17px; /* Smaller width for mobile */
    border-radius: 0px;
  }
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2b0e49; /* Custom track color */
  padding: 4px;
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b9b9b9; /* Custom handle color */
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9; /* Custom handle hover color */
}

.pixelart {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
