@tailwind base;
@tailwind components;
@tailwind utilities;
.image-rendering-pixelated {
  image-rendering: pixelated;
  background-image: url('/img/transparent-bg.png');
  background-size: 3px;
  padding:6px 12px;

}

.pixelart {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}