name: Deploy
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      CSRF_SECRET_KEY: "12323"  # Placeholder key

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Validate OpenAPI Schema
        run: npm run validate:ci

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.1.1

      - name: Build step
        run: deno task build

      # - name: Start Deno app
      #   run: deno run -A main.ts &
      #   env:
      #     PORT: 8000

      # - name: Wait for Deno app to be ready
      #   run: |
      #     echo "Waiting for Deno app to start..."
      #     sleep 10

      # - name: Install Dredd
      #   run: npm install -g dredd

      # - name: Run Dredd tests
      #   run: dredd
      #   env:
      #     DREDD_SERVER: http://localhost:8000